%html
  %head

  %title
    Как похудеть легко!

  = stylesheet_link_tag 'landing.css'



  %body

    = render partial: 'block/yandex_metrika'

    #wrapper

      .offset


        -# Краткое и четкое описание товара
        .offer
          %h1
            Как легко похудеть?
          %p.a1
            Просто заходи на этот сайт 15 дней подряд!

          -#%p.a2.corner
            * Только сегодня можно получить доступ бесплатно!



        -# Важные цифры
        .digital

          = image_tag 'pohudet_legko/main.jpg', style: 'margin-bottom: 30px;'

          %p
            Это 15-и дневный
            %i онлайн-тренинг,
            %br
            каждый день которого включает в себя по 2-3

            простых задания.



        = image_tag 'pohudet_legko/line.jpg', class: 'line'

        .message


          %p.a1
            %i Основная миссия
            этого тренинга
            заключается в том, чтобы изменения происходили на
            %b глубинном уровне
            твоего подсознания.
            Мы абсолютно уверены, что проблемы с весом это лишь
            %u верхушка айзберга!

          = image_tag 'pohudet_legko/iceberg.jpg', class: 'i1'

          %p.a2
            Пройдя наш тренинг ты избавишься от всего того что так сильно мешало тебе иметь свой
            %b идеальный вес
            и фигуру.
            И тогда даже волшебные котики для похудения заработают!



        = image_tag 'pohudet_legko/line.jpg', class: 'line'



        -# 3-и выгоды для потребителя
        -#.benefits
          %ul
            %li
              Этот тренинг о том как иметь желаемый вес и при этом есть свою любимую еду где угодно и когда угодно.
            %li
              Да мы знаем о том что 7.000 за тренинг


        - people_count = 1843 - @people_count

        -# Почему он должен сделать заказ сейчас
        .motivation
          %p

            = Russian.p(people_count, 'Остался', 'Осталось', 'Осталось')
            %b= number_to_currency(people_count, unit: " ", separator: " ", delimiter: " ", precision: 0).to_s + " " + Russian.p(people_count, 'доступ', 'доступа', 'доступов')
            из 10 000
            %u бесплатных.

        -# Обратная связь
        .feedback
          %table
            %tr
              %td
                %img{ src: '' }
              %td
                %img{ src: '' }
              %td
                %img{ src: '' }
            %tr.a1
              %td
                %p Ольга Шереметьева
              %td
                %p Владимир Смирнов
              %td
                %p Елена Понаморева
            %tr.a2
              %td
                %p "Здравствуйте, долгое время мучалась диетами, но все безуспешно. Подруга с работы посоветовала ваш тренинг!
                Сбросила 15 киллограм за 2 месяца. Спасибо вам огроменное!"
              %td
                %p "Жена посоветовала этот потрясающий тренинг. Попробовал первый день, потом второй.. Уже через неделю вес начал уходить. Вообщем мы довольны! Спасибо!"
              %td
                %p "Изумительный тренинг! Не видела ничего подобного, рада что успела пройти его бесплатно! Очень понравилась концовка, спасибо! Надеюсь будет продолжение!"


        = image_tag 'pohudet_legko/start.jpg', class: 'start'



        %a{ name: 'get_access_now' }

        -# Действие для того чтобы получить
        .action

          - if flash[:access_sended] == true

            %h2{ style: 'margin: 100px 0px;' }
              Поздравляем,
              %b доступ успешно выслан
              на ваш e-mail!

            %p
              Письмо придет в течении 2-ух минут. Если этого не произошло,
              %i обновите страницу
              и вышлите доступ повторно!

          - else

            %h2
              Чтобы
              %i прямо сейчас
              открыть 1-ый день тренинга,

              %br
                вышли себе
                %b персональный доступ
                на e-mail:

            %br

            %p.min
              Все поля обязательны для заполнения!


            .centered

              = render partial: 'trainings/block/get_access_form_new'

