#remember.offset
  .content
    .offset



      %h1
        Восстановление
        %br
        пароля


      = form_for @user, url: { controller: "auth", action: 'password_recovery_process' }, html: { style: 'width: 360px: margin: 0 auto;', class: 'px280' } do |f|

        .offsetter-height-half

          = render partial: 'block/form_errors', locals: { model: @user }

        .row
          = f.label :new_password
          = f.password_field :new_password

        .row
          = f.label :new_password_confirmation, 'Новый пароль еще раз'
          = f.password_field :new_password_confirmation

          = f.hidden_field :password_token

        = render partial: 'block/form_captcha', locals: { f: f }

        .row.actions
          = f.submit '', class: 'hidden'
          %a.button.big.orange.all-width{ onclick: 'document.getElementsByTagName("form")[0].submit();' }
            Сохранить!








        