#info.offset
  .content
    .offset


      %h1
        Настройки

      = render partial:'block/settings_menu'


      .offsetter

        .px280

          = form_for @current_user, method: :patch, url: { controller: "settings", action: 'notify_process' },  html: { style: 'width: 360px: margin: 0 auto;' } do |f|

            .offsetter-height-half

              = render partial: 'block/form_errors', locals: { model: @current_user }


            .row.checkbox
              = f.check_box :notify_comment
              %p – о новых комментариях

            .row.checkbox
              = f.check_box :notify_day
              %p – о новых днях

            .row.checkbox
              = f.check_box :notify_news
              %p – о крайне редких новостях

            = render partial: 'block/form_captcha', locals: { f: f }

            .row.actions
              = f.submit '', class: 'hidden'
              %a.button.big.orange.all-width{ onclick: 'document.getElementsByTagName("form")[0].submit();' }
                Сохранить!


            %p.grey.centered Внимание! Поля отмеченные * обязательны для заполенния!