= render partial: 'trainings/parallax'

.offset

  #training
    .content
      .offset

        = render partial: "trainings/block/initiator"

        = render partial: 'trainings/teaser'

        =# render partial: 'trainings/ads/google_up'

        %p
          Ровно в 06:00 утра по МСК эта страница автоматически обновится и этот день станет доступным!


        =# render partial: 'trainings/ads/google_down'

        = render partial: "trainings/actions"

  = render partial: 'trainings/ads/google_down'




