%ol.breadcrumb
  %li
    = link_to "Все тренинги", [:admin, :trainings]
  %li.active
    = link_to edit_admin_training_path(@training) do
      = @training[:name]


= link_to edit_admin_training_path(@training), :class => 'btn btn-default pull-right margin-l-5' do
  %span.glyphicon.glyphicon-list-alt
  Назад

= link_to new_admin_training_day_path, :class => 'btn btn-primary pull-right' do
  %span.glyphicon.glyphicon-plus
  Создать
  = t 'activerecord.models.day.sozdat'



%h2.no-margin
  Каталог
  = t 'activerecord.models.day.catalog'



%hr

.table-responsive
  %table.table.table-striped.table-bordered.table-hover
    %thead
      %tr
        %th
          = t 'activerecord.attributes.name'
        %th
          = t 'activerecord.attributes.number'
        %th.actions

    %tbody
      - @days.each do |day|
        %tr

          %td= link_to day.name, edit_admin_training_day_path(@training, day.number)

          %td= day.number

          %td
            = link_to training_day_path(@training, day.number), class: 'btn btn-default btn-primary btn-xs' do
              %span.glyphicon.glyphicon-eye-open
              cмотреть

            = link_to admin_training_day_path(@training, day.number), data: { confirm: 'Вы уверены?' }, method: :delete,  class: 'btn btn-default btn-xs btn-danger' do
              %span.glyphicon.glyphicon-trash
              Удалить

  = will_paginate @days, renderer: BootstrapPagination::Rails, class: 'no-margin'